version: 2
updates:
  - package-ecosystem: github-actions
    directory: "/"
    schedule:
      interval: daily
    open-pull-requests-limit: 10

  - package-ecosystem: pip
    directory: /scripts/disabled_tests
    schedule:
      interval: daily
    open-pull-requests-limit: 10
