name: 'Directories/Files Change Test PR'
on:
  pull_request:
    types: [synchronize]
    paths-ignore:
      - '.gitignore'
      - '*.md'
      - 'doc/**'
      - '.github/ISSUE_TEMPLATE/**'
      - '.github/*.yml'
jobs:
  getBuildLists:
    runs-on: ubuntu-latest
    outputs:
      buildLists: ${{ steps.locations_parse.outputs.build_lists }}
      buildEnv: ${{ steps.locations_parse.outputs.build_env}}
    steps:
      - uses: actions/checkout@v2
      - uses: jitterbit/get-changed-files@v1
        id: get_change
        continue-on-error: true
        with:
          format: space-delimited
          token: ${{ secrets.GITHUB_TOKEN }}
      - name: parse locations
        id: locations_parse
        run: |
          python3 ./.github/workflows/getBuildLists.py ${{ steps.get_change.outputs.all }}
  testChangeBasedBuildListWithHotspotAndOpenj9:
    runs-on: ${{ matrix.os }}
    needs: getBuildLists
    if: ${{!contains( fromJson(needs.getBuildLists.outputs.buildLists), 'skip')}}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-16.04, macos-10.15, windows-2016]
        version: [8, 15]
        build_list: ${{ fromJson(needs.getBuildLists.outputs.buildLists) }}
        impl: [hotspot, openj9]
    steps:
      - uses: actions/checkout@v2
      - uses: AdoptOpenJDK/install-jdk@v1
        with:
          version: ${{ matrix.version }}
          source: 'nightly'
          impl: ${{ matrix.impl }}
      - name: AQA
        uses: AdoptOpenJDK/run-aqa@v1
        with:
          build_list: ${{ matrix.build_list }}
          target: '_sanity.regular'
          jdksource: 'install-jdk'
          version: ${{ matrix.version }}
          openjdk_testRepo: '${{ github.event.pull_request.head.repo.full_name }}:${{ github.head_ref }}'
      - uses: actions/upload-artifact@v2
        if: failure()
        with:
          name: output_changed_based_build_list
          path: ./**/output_*/
  triggerGrinderTests:
    name: Build
    runs-on: ubuntu-latest
    outputs:
      test_targets_str: ${{ steps.format_test_targets_str.outputs.test_targets_str }}
    strategy:
      matrix:
        build_list: ${{ fromJson(needs.getBuildLists.outputs.buildLists) }}
    needs: getBuildLists
    if: ${{ needs.getBuildLists.outputs.buildEnv }}
    env:
        TOKEN: ${{ secrets.TOKEN }}
    steps:
    - uses: actions/checkout@v2
    - name: format test targets str
      id: format_test_targets_str
      run: |
        python3 ./.github/workflows/createTestList.py ${{matrix.build_list}}
    - name: trigger default job
      if: ${{contains( fromJson(needs.getBuildLists.outputs.buildLists), 'skip')}}
      run: curl -X POST -u xfxcwynlc:${{ env.TOKEN }} "https://ci.adoptopenjdk.net/view/all/job/Grinder_Simple/buildWithParameters/"
    - name: trigger single job
      if: ${{!contains( fromJson(needs.getBuildLists.outputs.buildLists), 'skip')}}
      run: curl -X POST -u xfxcwynlc:${{ env.TOKEN }} "https://ci.adoptopenjdk.net/view/all/job/Grinder_Simple/buildWithParameters?BUILD_LIST=${{matrix.build_list}}&TARGET=testList%20${{ steps.format_test_targets_str.outputs.test_target_str}}"
  comment:
    runs-on: ubuntu-latest
    needs: getBuildLists
    steps:
      - uses: actions/github-script@v3
        with:
          github-token: ${{secrets.GITHUB_TOKEN}}
          script: |
            comment_body = `
              body: ${{ steps.workflow_run_info.outputs.id }}
              `;
            github.issues.createComment({
              issue_number: context.issue.number,
              owner: context.repo.owner,
              repo: context.repo.repo,
              body: 'Test directory/directories and/or buildenv directory changed, triggering Grinder job'
            })
  
